<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ekawafers.attandanceapp">

  <!--  mendapatkan lokasi menggunakan wifi atau mobile data-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- mendapatkan lokasi dengan GPS-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- untuk mendapatkan akses internet dan mengirim data ke internet-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>